

div, p, li, ul, span, .title, .topic-excerpt {
    font-family: 'Times New Roman', serif;
    font-weight: 100;
}

.topic-list .views, .topic-list .posts, .list-controls .btn, .topic-list th, th.default, .topic-list, .d-button-label, .category-name, .select-kit .select-kit-header .selected-name {
    font-family: 'Times New Roman', serif;

}

h1, h2, h3, .nav-pills>li, .nav-pills>li>a, #list-area .top-lists h2, #topic-title h1 a {
    font-family: 'Times New Roman', serif;
  
    font-weight: 100;
}
